[alias]
  st = status -s
  ci = commit -m
  cia = commit -am
  ca = git commit --amend
  caa = git commit --amend --all
  co = checkout
  br = branch
  undo = reset --soft HEAD~1
  dc = diff --cached

  ##
  ## Creates an alias called "git hist" that outputs a nicely formatted git log.
  ## Usage is just like "git log"
  ## Examples:
  ##   git hist
  ##   git hist -5
  ##   git hist <branch_name>
  ##   git hist <tag_name> -10
  ###
  hist = log --pretty=format:'%C(yellow)%ad%C(reset) %C(green)%h%C(reset) | %C(red)%s %C(bold red)[%an]%C(reset) %C(white)%d%C(reset)' --graph --date=short
[push]
  default = current
[color]
  ui = true
[color "status"]
  changed = yellow normal
  untracked = white normal bold
  added = green normal bold
  deleted = red normal bold
  header = white
  footer = red
  bottom = red
  result = red
[config "status"]
  header = red
[core]
  excludesfile = ~/.gitignore
[user]
  name = Vladislav Petrov
  email = electronicchest@gmail.com
[credential]
  helper = osxkeychain
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
